/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally) 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #2b9598;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #378384;
}

/* Add a background color and some padding around the form */
.container {   
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2b9598;
}

body {
    background-color: #454545;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #fbe5d6
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: #d3ccba;
}

h1 {
    color: #fb9c71;
}

p {
    color: #fbe5d6;
}

img {
    width: 25%;
}

#profile {
    border-radius: 50%;
}

div {
    margin: 10px auto;
    color: #454545;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
}

.intro {
    background-color: #454545;
}

.container {
    background-color: #fbe5d6;
}

.social {
    background-color: #fb9c71;
}

.contact {
    matgin: 20px;
    box-shadow: 5px 5px 5px 5px grey;

}

.table {
    background-color: #454545;
    width: 90%;
    margin: 20px;
}

#lets {
    color: #2b9598;
}

/*.bgimage {
    background-image: url("images/Programming-Code-l.jpg");
    background-position: center center;
    background-size: cover;
    height: 200px;
}


*/
































